APP_ENV=dev
APP_SECRET=change_me
APP_SHARE_DIR=/tmp

MONGODB_URL=mongodb+srv://user:password@cluster.example.mongodb.net/avaverse
MONGODB_URI=mongodb+srv://user:password@cluster.example.mongodb.net/avaverse
MONGODB_DB=avaverse

JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=change_me

CORS_ALLOW_ORIGIN=^http://(localhost|127\.0\.0\.1):(5173|5174)$
